@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("./assets/MaterialSymbolsRounded.woff2") format('woff2');
}

.msr {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #edf1f1;
    color: #414535;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --dull-bg: #111113;
    --main-bg: #18191b;
    --high-bg: #33363b;
}

#navigation {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    background: white;

    &>.part {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

.lightbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em;

    &>.go_to_button {
        display: flex;
        align-items: center;
        gap: .5em;

        &>a {
            font-style: italic;
        }
    }
}

#main_content {
    &>.section {      
          padding: 1em 3em;
        background: white;
        max-width: 700px;
        margin: auto;
}
}